* {
  padding: 0;
  margin: 0;
  background-color: #6425cb;
}
.contacts {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 110vh;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contacts__namber-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
}
.contacts-img {
    border: 1px solid black;
}
.contacts__namber {
}
.contacts__mail-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contacts__mail {
}
.header {
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
 /* margin-top: 68px;*/
  background-color: white;
  border-radius: 10px;
}
.logo {
  margin-left: 20px;
  background-color: white;
}
.logo__name {
  background-color: white;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 650px;
  height: 94px;
  background-color: white;
}
.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}
.menu__list-item {
  list-style-type: none;
  background-color: white;
}
.menu__link {
  text-decoration: none;
  background-color: white;
}
.header__btn-group {
  margin-right: 20px;
  background-color: white;
}
.header__btn {
  background-color: #f4ab00;
  border: none;
  border-radius: 50px;
  text-align: center;
  width: 100px;
  height: 41px;
}
.welcome {
  padding-top: 75px;
  height: 1440px;
}
.welcome-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.welccome-content__subhealine {
  font-size: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
  color: white;
}
.welcome-content__yelow {
  color: #f4ab00;
}
.welcome-content__text {
  font-size: 18px;
  margin-bottom: 35px;
  width: 400px;
  color: white;
}
.welcome-content__btn {
  background-color: #f4ab00;
  border: none;
  border-radius: 50px;
  text-align: center;
  width: 120px;
  height: 41px;
}
.welcome-img__wrapper {
}
.welcome-img {
}
